<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2016 Rails102
        <br>Design by
        <a href="http://www.readlife.cn" target=_new>晴耕雨读的老韩</a>
    </p>
</footer>
